body{
    margin:10%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(11, 9, 17);
}

@media only screen and (max-width: 1250px) {
    .flip-container {
        width:250px;
        height:450px;
        perspective: 1000px;
    
    }
    .front img{
        width:300px;
        height:450px;
    }
    .back img{

        width:300px;
        height:450px;
    }
    .campo{
        width:300px;
        height: 450px;
        gap:15%;
    }


    .brasao{
        margin-top: 30%;
        margin-bottom: 42%;
    }
    .front p{
        font-size: x-large;
    }



  }
  @media only screen and (max-width: 920px) {
    .flip-container {
        width:250px;
        height:400px;
        perspective: 1000px;
    
    }
    .front img{
        width:250px;
        height:400px;
    }
    .back img{

        width:250px;
        height:400px;
    }
    .campo{
        width:250px;
        height:400px;
    }

    .brasao{
        margin-top: 25%;
        margin-bottom: 42%;
    }
    .front p{
        font-size: x-large;
    }


  }
  @media only screen and (max-width: 788px) {
    .flip-container {
        width:200px;
        height:350px;
        perspective: 1000px;
    
    }
    .front img{
        width:200px;
        height:350px;
    }
    .back img{

        width:200px;
        height:350px;
    }
    .campo{
        width:200px;
        height:350px;
    }
    .brasao{
        font-size: x-large;
        margin-top: 20%;
        margin-bottom: 42%;
    }
  }
  @media only screen and (max-width: 666px) {
    .flip-container {
        width:250px;
        height:450px;
        perspective: 1000px;
    
    }
    .front img{
        width:175px;
        height:325px;
    }
    .back img{

        width:175px;
        height:325px;
    }
    .campo{
        width:175px;
        height:325px;
    }
  }
@media only screen and (min-width: 1240px) {
    .flip-container {
        width:300px;
        height:500px;
        perspective: 1000px;
    
    }
    .front img{
        width:400px;
        height:550px;
    }
    .back img{

        width:400px;
        height:550px;
    }
    .campo{
        width:400px;
        height: 550px;
    }
    .brasao{
        margin-top: 25%;
        margin-bottom: 42%;
    }
    .front p{
        font-size: xx-large;
    }
  }




.flipper{
    position: relative;
    width:100%;
    height:100%;
	transition: transform 1.8s;
	transform-style: preserve-3d;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content:center;

    box-shadow: rgba(241, 111, 111, 0.911) 0px 25px 20px -20px;position: absolute;
	transform: rotateY(180deg);
    background-color: aliceblue;
    border-radius: 5%;
    border:2px solid rgb(24, 24, 24);
}
.back{
    box-shadow: rgba(8, 0, 255, 0.911) 0px 25px 20px -20px;position: absolute;
}
.front, .back{

	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
.front img{
    border-radius: 5%;
    border:2px solid rgb(24, 24, 24);
    display:flex;

}
.back img{
    display:flex;
    border-radius: 5%;
    border:2px solid rgb(221, 182, 7);

}
#card-0:checked ~ .flip-container-0 .flipper {
    transform: rotateY(180deg);
}
#card-1:checked ~ .flip-container-1 .flipper {
    
    transform: rotateY(180deg);
}
#card-2:checked ~ .flip-container-2 .flipper {
    
    transform: rotateY(180deg);
}
  #card-0,#card-1,#card-2{
	display: none;
}

.mesa{
    display:flex;
    flex-direction: row;
    align-self: start;
    justify-content: space-evenly;
}

.deck{
    width:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: inherit;
}

.front{

    max-width: 100%;
    
}
.valor_up {
    height:20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;


}
.valor_down{
    height:20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 15%;

}
.quebrar_valor{
    margin-left: 5%;
    margin-right: 5%;
}
.valor_up p{
    align-items: center;
    margin:0%;

}
.valor_down p{
    margin:0%;
}
.quebrarvalor{
    align-content: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l_brasao{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.l_brasao p{
    margin:2%;
}
.front{color:red;}

#inverter{
transform: rotate(180deg);

}
#deck{display: flex;
justify-content: center;}