body{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(11, 9, 17);
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
#carta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.flip-container {
    width:250px;
    height:450px;
    perspective: 1000px;

}
.front img{
    width:300px;
    height:450px;
}
.back img{

    width:300px;
    height:450px;
}
.campo{
    width:300px;
    height: 450px;

}

img.b5{
    display: flex;
    width: 170px;
    height: 250px;  

}
.flipper{
    position: relative;
    width:100%;
    height:100%;
	transition: transform 1.8s;
	transform-style: preserve-3d;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-size: xx-large;
    align-items:stretch;
    box-shadow: rgba(100, 212, 246, 0.911) 0px 25px 20px -20px;position: absolute;
	transform: rotateY(180deg);
    background-color: aliceblue;
    border-radius: 5%;
    border:2px solid rgb(24, 24, 24);
}
.back{
    box-shadow: rgba(8, 0, 255, 0.911) 0px 25px 20px -20px;position: absolute;
}
.front, .back{

	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
.front img{
    border-radius: 5%;
    border:2px solid rgb(24, 24, 24);
    display:flex;

}
.back img{
    display:flex;
    border-radius: 5%;
    border:2px solid rgb(221, 182, 7);

}
#card-0:checked ~ .flip-container-0 .flipper {
    transform: rotateY(180deg);
}
#card-1:checked ~ .flip-container-1 .flipper {
    
    transform: rotateY(180deg);
}
#card-2:checked ~ .flip-container-2 .flipper {
    
    transform: rotateY(180deg);
}
  #card-0,#card-1,#card-2{
	display: none;
}

.mesa{
    display:flex;
    flex-direction: row;
    align-self: start;
    justify-content: space-evenly;
}

.deck{
    width:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: inherit;
}

.front{

    max-width: 100%;
    
}
.valor_up {
    height:25px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.quebrar_valor p{
    align-items: center;
    margin:0%;

}
.valor_down{

    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;


}
.quebrar_valor{
    margin-left: 5%;
    margin-right: 5%;
}

.valor_down p{
    margin:0%;
}
.quebrarvalor{
    align-content: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l_brasao{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.l_brasao p{
    margin:0%;
}
.front{color:red;}

#inverter{
transform: rotate(180deg);

}
#deck{display: flex;
justify-content: center;}


.brasao{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
div.brasao p{
    gap:15px;
}

button{display:none;}

.deck:checked .deck{
    display:none;
}
#Deck:hover{
    cursor:pointer;
}
.mesa:hover{
    cursor:pointer;
}